<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <div class="breadcrumb-btn">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Transfer
                    </li>
                </ol>
                <div class="buttongroup">
                    <button type="button" class="btn btn-outline-primary mr-1" (click)="addModel()">
                        <i class="uil-plus mr-1"></i>ADD</button>
                    <button type="button" class="btn btn-outline-warning" (click)="dowloadPDF()">
                        <i class="uil-file-download-alt mr-1"></i>PDF</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header search-header">
                    <div class="">
                        <h4 class="header-title mb-0">Transfer List </h4>
                        <span>( Total:
                            {{paginationResponse && paginationResponse.totalElements?paginationResponse.totalElements:0}}
                            )</span>
                    </div>
                    <div class="search-total">
                        <input id="searchText" type="text" placeholder="Search"
                            [(ngModel)]="paginationRequest.searchText" class="form-control" (keyup)="getAllTransfer()">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th (click)="flag = !flag; sorting(flag, 'transferDate')">Date</th>
                                            <th (click)="flag = !flag; sorting(flag, 'slipNumber')">Slip Number</th>
                                            <th (click)="flag = !flag; sorting(flag, 'accountHolderName')">Customer Name</th>
                                            <th >Bank Name</th>
                                            <th (click)="flag = !flag; sorting(flag, 'accountNumber')">AccountNo.</th>
                                            <th (click)="flag = !flag; sorting(flag, 'amount')">Amount</th>
                                            <th (click)="flag = !flag; sorting(flag, 'mobileNo')">Mobile Number</th>
                                            <th >Status</th>
                                            <th class="table-action width150px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let acc of transferList; let i= index;">
                                            <td> {{((paginationResponse.startPos )+ i)}} </td>
                                            <td>{{acc.transferDate?acc.transferDate:'-'}}</td>
                                            <td>{{acc.slipNumber?acc.slipNumber:'-'}}</td>
                                            <td>{{acc.accountHolderName?acc.accountHolderName:'-'}}</td>
                                            <td class="text-nowrap">
                                                {{acc.bank && acc.bank.bankName?acc.bank.bankName:'-'}}</td>
                                            <td>{{acc.accountNumber?acc.accountNumber:'-'}}</td>
                                            <td> {{acc.amount?acc.amount:'-'}} </td>
                                            <td> {{acc.mobileNo?acc.mobileNo:'-'}} </td>
                                            <td class="text-nowrap">
                                                {{acc.status && acc.status.name?acc.status.name:'-'}}</td>
                                            <td class="table-action width150px">
                                                <a href="javascript:void(0);" class="action-icon text-warning"
                                                    (click)="viewSlip(acc.id)">
                                                    <i class="fa fa-share"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="action-icon text-info"
                                                    (click)="getByIdTransfer(acc)">
                                                    <i class="mdi mdi-eye"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="action-icon text-primary"
                                                    (click)="editTransfer(acc)">
                                                    <i class="mdi mdi-square-edit-outline"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="action-icon text-danger"
                                                    (click)="deleteTransfer(acc)">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer pagination-footer"
                    *ngIf="paginationResponse.totalElements > paginationRequest.minimumPerPage">
                    <div class="record-left" *ngIf="paginationResponse.pageArray.length > 0">
                        <ng-select [virtualScroll]="true" [items]="paginationRequest.noOfRecordPerPageArray"
                            bindLabel="name" bindValue="id" placeholder="Select Page" [dropdownPosition]="'bottom'"
                            [(ngModel)]="paginationRequest.noOfRecords" [clearOnBackspace]="false" [clearable]="false"
                            (change)="changeNoOfRecord()">
                        </ng-select>
                    </div>
                    <div class="record-right">
                        <ul>
                            <li class="pagination-record" *ngIf="paginationRequest.noOfRecordPerPageArray.length > 0">
                                <ng-select class="form-control1" [items]="paginationResponse.pageArray" bindLabel="name"
                                    bindValue="id" placeholder="Select Page" [dropdownPosition]="'bottom'"
                                    [(ngModel)]="paginationRequest.pageNumber" [clearOnBackspace]="false"
                                    (change)="changePage()">
                                </ng-select>
                            </li>
                            <li class="prev">
                                <button class="btn btn-pagination" [disabled]="paginationResponse.first"
                                    (click)="getPreviousData()">
                                    <i class=" uil-angle-double-left"></i>
                                </button>
                            </li>
                            <li class="pagination-number">
                                <a>
                                    {{+paginationResponse.startPos}}-{{ +paginationResponse.endPos}} </a>
                            </li>
                            <li class="next">
                                <button class="btn btn-pagination" [disabled]="paginationResponse.last"
                                    (click)="getNextData()">
                                    <i class="uil-angle-double-right"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- container -->

<!-- Save/ Update Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block !important;">
                <button type="button" class="close" (click)="closeModel()">&times;</button>
                <h4 class="modal-title" *ngIf="type==='add'">Add Money Transfer</h4>
                <h4 class="modal-title" *ngIf="type==='edit'">Update Money Transfer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6" *ngIf="type!=='add'">
                        <div class="form-group">
                            <label>Slip Number</label>
                            <input class="form-control" type="text" placeholder="slipNumber"
                                [(ngModel)]='transfer.slipNumber' readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Transfer Date</label>
                            <!-- <input class="form-control" type="date" placeholder="date"
                                [(ngModel)]='transfer.transferDate'> -->
                                <dp-date-picker [(ngModel)]="transfer.transferDate" [config]="datePickerConfig"></dp-date-picker>  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input class="form-control" type="text" placeholder="Customer Name"
                                [(ngModel)]='transfer.accountHolderName' [formControl]="transferForm.controls['name']"
                                maxlength="100">
                            <span class="error-msg"
                                *ngIf="transferForm && transferForm.controls['name'].hasError('required') && transferForm.controls['name'].touched">
                                Customer Name Is Required. </span>
                            <span class="error-msg"
                                *ngIf="transferForm && !transferForm.controls['name'].hasError('required') && !transferForm.controls['name'].valid && loginService.transferForm.controls['name'].touched">
                                Please Enter Valid Customer Name
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Bank Name</label>
                            <select class="form-control" [(ngModel)]='transfer.idOfBank'
                                [formControl]="transferForm.controls['bankName']" maxlength="100">
                                <option *ngFor="let bank of bankList;" [value]="bank.id">{{bank.bankName}}
                                </option>
                            </select>
                            <span class="error-msg"
                                *ngIf="transferForm && transferForm.controls['bankName'].hasError('required') && transferForm.controls['bankName'].touched">
                                Bank Name Is Required. </span>
                            <span class="error-msg"
                                *ngIf="transferForm && !transferForm.controls['bankName'].hasError('required') && !transferForm.controls['bankName'].valid && loginService.transferForm.controls['bankName'].touched">
                                Please Enter Valid Bank Name
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" [(ngModel)]='transfer.idOfStatus'
                                [formControl]="transferForm.controls['status']" maxlength="100">
                                <option *ngFor="let status of statusList;" [value]="status.id">{{status.name}}
                                </option>
                            </select>
                            <span class="error-msg"
                                *ngIf="transferForm && transferForm.controls['status'].hasError('required') && transferForm.controls['status'].touched">
                                Status Is Required. </span>
                            <span class="error-msg"
                                *ngIf="transferForm && !transferForm.controls['status'].hasError('required') && !transferForm.controls['status'].valid && loginService.transferForm.controls['status'].touched">
                                Please Enter Valid Status
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Amount</label>
                            <input class="form-control" type="text" placeholder="Amount" [(ngModel)]='transfer.amount'
                                [formControl]="transferForm.controls['amount']" maxlength="15">
                            <span class="error-msg"
                                *ngIf="transferForm && transferForm.controls['amount'].hasError('required') && transferForm.controls['amount'].touched">
                                Amount Is Required. </span>
                            <span class="error-msg"
                                *ngIf="transferForm && !transferForm.controls['amount'].hasError('required') && !transferForm.controls['amount'].valid && loginService.transferForm.controls['amount'].touched">
                                Please Enter Valid Amount
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Account Number</label>
                            <input class="form-control" type="text" placeholder="Account number"
                                [(ngModel)]='transfer.accountNumber' [formControl]="transferForm.controls['accNo']"
                                maxlength="20">
                            <span class="error-msg"
                                *ngIf="transferForm && transferForm.controls['accNo'].hasError('required') && transferForm.controls['accNo'].touched">
                                Account Number Is Required. </span>
                            <span class="error-msg"
                                *ngIf="transferForm && !transferForm.controls['accNo'].hasError('required') && !transferForm.controls['accNo'].valid && loginService.transferForm.controls['accNo'].touched">
                                Please Enter Valid Account number
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>PinCode</label>
                            <input class="form-control" type="text" placeholder="PinCode" [(ngModel)]='transfer.pinNo'
                                [formControl]="transferForm.controls['pinCode']" maxlength="6">
                            <span class="error-msg"
                                *ngIf="transferForm && transferForm.controls['pinCode'].hasError('required') && transferForm.controls['pinCode'].touched">
                                PinCode Is Required. </span>
                            <span class="error-msg"
                                *ngIf="transferForm && !transferForm.controls['pinCode'].hasError('required') && !transferForm.controls['pinCode'].valid && loginService.transferForm.controls['pinCode'].touched">
                                Please Enter Valid PinCode
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input class="form-control" type="text" placeholder="mobileNo"
                                [(ngModel)]='transfer.mobileNo' [formControl]="transferForm.controls['mobileNo']"
                                maxlength="10">
                            <span class="error-msg"
                                *ngIf="transferForm && transferForm.controls['mobileNo'].hasError('required') && transferForm.controls['mobileNo'].touched">
                                Mobile Number Is Required. </span>
                            <span class="error-msg"
                                *ngIf="transferForm && !transferForm.controls['mobileNo'].hasError('required') && !transferForm.controls['mobileNo'].valid && loginService.transferForm.controls['mobileNo'].touched">
                                Please Enter Valid Mobile Number
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="type==='add'" class="btn btn-success" (click)="save()"
                    [disabled]="!transferForm.valid">Save</button>
                <button *ngIf="type==='edit'" class="btn btn-success" (click)="update()"
                    [disabled]="!transferForm.valid">Update</button>
                <button class="btn btn-light" (click)="closeModel()">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- View Modal -->
<div id="viewModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="display: block !important;">
                <button type="button" class="close" (click)="closeViewModel()">&times;</button>
                <h4 class="modal-title">View Money Transfer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Slip Number : </label> <span>{{transfer.slipNumber?transfer.slipNumber:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Transfer Date : </label>
                            <span>{{transfer.transferDate?transfer.transferDate:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Customer Name : </label>
                            <span>{{transfer.accountHolderName?transfer.accountHolderName:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Bank Name : </label>
                            <span>{{transfer && transfer.bank && transfer.bank.bankName ? transfer.bank.bankName : '-'}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Account Number : </label>
                            <span>{{transfer.accountNumber?transfer.accountNumber:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Amount : </label> <span>{{transfer.amount?transfer.amount:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Commision : </label> <span>{{transfer.commission?transfer.commission:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mobile Number : </label><span>{{transfer.mobileNo?transfer.mobileNo:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>PinCode : </label> <span>{{transfer.pinNo?transfer.pinNo:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Status : </label>
                            <span>{{transfer && transfer.status && transfer.status.name ? transfer.status.name :'-'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" (click)="closeViewModel()">Close</button>
            </div>
        </div>
    </div>
</div>