<section class="auth-fluid-pages pb-0">
  <div class="auth-fluid">
    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center">
      <div class="auth-user-testimonial">
        <!-- <h2 class="mb-3">I love the color!</h2> -->
        <p class="lead">
          <i class="mdi mdi-format-quote-open"></i> Money Transfer and Online Payments .
          <i class="mdi mdi-format-quote-close"></i>
        </p>
        <p>
          - Payyed
        </p>
      </div>
      <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
      <div class="align-items-center d-flex h-100">
        <div class="card-body">

          <!-- Logo -->
          <div class="auth-brand text-center text-lg-left">
            <a href="index.html">
              <span>
                <img src="assets/images/logo-light.png" alt="" height="18">
              </span>
            </a>
          </div>

          <!-- title-->
          <h4 class="mt-0">Sign In</h4>
          <p class="text-muted mb-4">Enter your email address and password to access account.</p>

          <div class="form-group">
            <label for="emailaddress">Email address</label>
            <input class="form-control" type="text" id="emailaddress" placeholder="Enter your email"
              [(ngModel)]="user.username" [formControl]="loginForm.controls['username']" maxlength="100">
            <small class="color-red"
              *ngIf="loginForm && loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
              Username Is Required. </small>
            <small class="color-red"
              *ngIf="loginForm && !loginForm.controls['username'].hasError('required') && !loginForm.controls['username'].valid && loginService.loginForm.controls['username'].touched">
              Please Enter Valid Username
            </small>
          </div>
          <div class="form-group">
            <a href="#" class="text-muted float-right">
              <small>Forgot your password?</small>
            </a>
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" placeholder="Enter your password"
              [(ngModel)]="user.password" [formControl]="loginForm.controls['password']" maxlength="100">
              <small class="color-red"
                *ngIf="loginForm && loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                password Is Required. </small>
              <small class="color-red"
                *ngIf="loginForm && !loginForm.controls['password'].hasError('required') && !loginForm.controls['password'].valid && loginService.loginForm.controls['password'].touched">
                Please Enter Valid password
              </small>
          </div>
          <div class="form-group mb-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="checkbox-signin">
              <label class="custom-control-label" for="checkbox-signin">Remember me</label>
            </div>
          </div>
          <div class="form-group mb-0 text-center">
            <button class="btn btn-primary btn-block" (click)="login()" type="submit">
              <i class="mdi mdi-login"></i> Log In </button>
            <div style="color: red;">{{message}}</div>
          </div>

          <!-- Footer-->
          <footer class="footer footer-alt">
            <p class="text-muted">Don't have an account?
              <a routerLink="/sign-up/sign-up" class="text-muted ml-1">
                <b>Sign Up</b>
              </a>
            </p>
          </footer>

        </div>
        <!-- end .card-body -->
      </div>
      <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->
  </div>
  <!-- end auth-fluid-->
</section>