<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Dashboard
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->




</div>
<!-- container -->




<!-- Page Wrapper -->
<div class="page-wrapper">

  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Welcome {{username}}!</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->


    <!-- <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="dash-widget-icon bg-primary">
                <i class="fe fe-accounts"></i>
              </span>
              <div class="dash-count">
                <i class="fa fa-arrow-up text-success"></i> 17%
              </div>
            </div>
            <div class="dash-widget-info">
              <h3>168</h3>
              <h6 class="text-muted">Customers</h6>
              <div class="progress progress-sm">
                <div class="progress-bar bg-primary w-50"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="dash-widget-icon bg-success">
                <i class="fe fe-money"></i>
              </span>
              <div class="dash-count">
                <i class="fa fa-arrow-down text-danger"></i> 12%
              </div>
            </div>
            <div class="dash-widget-info">
              <h3>21587</h3>
              <h6 class="text-muted">Products</h6>
              <div class="progress progress-sm">
                <div class="progress-bar bg-success w-50"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="dash-widget-icon bg-danger">
                <i class="fe fe-credit-card"></i>
              </span>
              <div class="dash-count">
                <i class="fa fa-arrow-down text-danger"></i> 12%
              </div>
            </div>
            <div class="dash-widget-info">
              <h3>$56485</h3>
              <h6 class="text-muted">Sales</h6>
              <div class="progress progress-sm">
                <div class="progress-bar bg-danger w-50"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="dash-widget-icon bg-warning">
                <i class="fe fe-folder"></i>
              </span>
              <div class="dash-count">
                <i class="fa fa-arrow-up text-success"></i> 17%
              </div>
            </div>
            <div class="dash-widget-info">
              <h3>$62523</h3>
              <h6 class="text-muted">Revenue</h6>
              <div class="progress progress-sm">
                <div class="progress-bar bg-warning w-50"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12 d-flex">

        <!-- Recent Orders -->
        <div class="card card-table flex-fill">
          <div class="card-header">
            <h4 class="card-title">Money Transfer</h4>
            <button class="btn btn-info pull-right" style="margin-top: -30px;" (click)="addModel()"> Add </button>
            <button class="btn btn-danger pull-right" style="margin-top: -30px;" (click)="dowloadPDF()"> PDF </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center">
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Bank Name</th>
                    <th class="text-center">AccountNo.</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let acc of transferList; let i= index;">
                    <td> {{i+1}}</td>
                    <td class="text-nowrap"> {{acc.accountHolderName?acc.accountHolderName:'-'}} </td>
                    <td class="text-nowrap">{{acc.bankName?acc.bankName:'-'}}</td>
                    <td class="text-center">{{acc.accountNumber?acc.accountNumber:'-'}}</td>
                    <td class="text-center"> {{acc.amount?acc.amount:'-'}} </td>
                    <td class="text-center">
                      <button class="btn btn-info" (click)="getByIdTransfer(acc)">View</button>
                      <button class="btn btn-primary" (click)="editTransfer(acc)">Edit</button>
                      <button class="btn btn-danger" (click)="deleteTransfer(acc)">delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /Recent Orders -->

      </div>
      <div class="col-md-12 d-flex">

        <!-- Feed Activity -->
        <!-- <div class="card flex-fill">
          <div class="card-header">
            <h4 class="card-title">Feed Activity</h4>
          </div>
          <div class="card-body">
            <ul class="activity-feed">
              <li class="feed-item">
                <div class="feed-date">Apr 13</div>
                <span class="feed-text"><a href="profile.html">John Doe</a> added new product <a
                    href="product-details.html">"Smart Watch"</a></span>
              </li>
              <li class="feed-item">
                <div class="feed-date">Mar 21</div>
                <span class="feed-text"><a href="profile.html">Justin Lee</a> requested amount of <a
                    href="invoice.html">$5,781</a></span>
              </li>
              <li class="feed-item">
                <div class="feed-date">Feb 2</div>
                <span class="feed-text">New user registered <a href="profile.html">"Mary Wiley"</a></span>
              </li>
              <li class="feed-item">
                <div class="feed-date">Jan 27</div>
                <span class="feed-text"><a href="profile.html">Robert Martin</a> gave a review for <a
                    href="product-details.html">"Dell Laptop"</a></span>
              </li>
              <li class="feed-item">
                <div class="feed-date">Jan 14</div>
                <span class="feed-text">New customer registered <a href="profile.html">"Tori Carter"</a></span>
              </li>
            </ul>
          </div>
        </div> -->
        <!-- /Feed Activity -->

      </div>
    </div>


  </div>
</div>
<!-- /Page Wrapper -->



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="display: block !important;">
        <button type="button" class="close" (click)="closeModel()">&times;</button>
        <h4 class="modal-title" *ngIf="type==='add'">Add Money Transfer</h4>
        <h4 class="modal-title" *ngIf="type==='edit'">Update Money Transfer</h4>
        <h4 class="modal-title" *ngIf="type==='view'">View Money Transfer</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Name" [(ngModel)]='transfer.accountHolderName' [readonly]="type==='view'">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Bank name" [(ngModel)]='transfer.bankName' [readonly]="type==='view'">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Amount" [(ngModel)]='transfer.amount' [readonly]="type==='view'">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Account number" [(ngModel)]='transfer.accountNumber' [readonly]="type==='view'">
        </div>
        <div class="form-group mb-0">
          <button *ngIf="type==='add'" class="btn btn-primary btn-block" (click)="save()">Save</button>
          <button *ngIf="type==='edit'" class="btn btn-primary btn-block" (click)="update()">Update</button>
          <div style="color: red;"> {{message}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>

  </div>
</div>