<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <div class="breadcrumb-btn">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Money Receipt
                    </li>
                </ol>
                <div class="buttongroup">
                    <button type="button" class="btn btn-info" (click)="downloadPDF()"> <i class="uil-file-download-alt mr-1"></i>PDF </button>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row" id="content" #content>
        
        <div class="col-lg-10 col-md-12 col-sm-12 col-12" id="editor">
            <div class="money-receipt" id="contentToConvert">
                <div class="outer-receipt">
                    <div class="title-bg"></div>
                    <div class="receipt-title">BALAJI</div>
                    <div class="inner-receipt">
                        <div class="service-title">
                            Money Transfer Service
                        </div>
                        <div class="account-date">
                            <div class="account">
                                <div class="field-title">Account No. : </div>
                            </div>
                            <div class="date">
                                <div class="field-title">Date : </div>
                                <div class="">{{!transfer.transferDate ? '-' : transfer.transferDate | date:'dd-MM-yyyy'}}</div>
                            </div>
                        </div>
                        <div class="acno-box">
                            <ul>
                                <!-- <li>{{transfer.accountNumber?transfer.accountNumber:'-'}}</li> -->
                                <li *ngFor="let no of accNo;" style="text-align: center; padding-top: 8px;">{{no}}</li>
                                <!-- <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li> -->
                            </ul>
                        </div>
                        <div class="account-details">
                            <div class="accountant-name">
                                <div class="field-title">Accountant Name : </div>
                                <div class="field-value" style="width: 79%;">{{transfer.accountHolderName?transfer.accountHolderName:'-'}}</div>
                            </div>
                            <div class="bank-name">
                                <div class="field-title">Bank Name :</div>
                                <div class="field-value" style="width: 65%;">
                                    {{transfer && transfer.bank && transfer.bank.bankName ? transfer.bank.bankName : '-'}}</div>
                            </div>
                            <div class="branch-name">
                                <div class="field-title">Branch Name :</div>
                                <div class="field-value" style="width: 68%;"> - </div>
                            </div>
                            <div class="district-name">
                                <div class="field-title">District Name :</div>
                                <div class="field-value" style="width: 65%;"> - </div>
                            </div>
                            <div class="state-name">
                                <div class="field-title">State Name :</div>
                                <div class="field-value" style="width: 72%;"> - </div>
                            </div>
                            <div class="money-number">
                                <div class="field-title">Money :</div>
                                <div class="field-value" style="width: 91%;">{{transfer.amount?transfer.amount:'-'}}/-</div>
                            </div>
                            <div class="mobile-number">
                                <div class="field-title">Mobile Number :</div>
                                <div class="field-value" style="width: 82%;">{{transfer.mobileNo?transfer.mobileNo:'-'}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>