<!-- Pre-loader -->
<!-- <div id="preloader">
    <div id="status">
        <div class="bouncing-loader"><div ></div><div ></div><div ></div></div>
    </div>
</div> -->
<!-- End Preloader-->
<!-- Begin page -->
<div class="wrapper">
  <app-left-menu></app-left-menu>
  <div class="content-page">
    <div class="content">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
    <!-- Footer Start -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            2020 © Balaji - balajimoneytransfer.co.in
          </div>
          <!-- <div class="col-md-6">
            <div class="text-md-right footer-links d-none d-md-block">
              <a href="javascript: void(0);">About</a>
              <a href="javascript: void(0);">Support</a>
              <a href="javascript: void(0);">Contact Us</a>
            </div>
          </div> -->
        </div>
      </div>
    </footer>
    <!-- end Footer -->
  </div>
</div>
