 <!-- Sidebar -->
 <div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title">
          <span>Main</span>
        </li>
        <li class="active">
          <a [routerLink]="['/home/work_area/dashboard']"><i class="fe fe-home"></i> <span>Dashboard</span></a>
        </li>
        <li class="submenu">
          <a [routerLink]="['/home/work_area/bank']" ><i class="fe fe-cart"></i> <span> Banks </span> <span class="menu-arrow"></span></a>
          <!-- <ul style="display: none;">
            <li><a>Products</a></li>
            <li><a>Product View</a></li>
            <li><a>Orders</a></li>
            <li><a>Customers</a></li>
            <li><a>Invoice</a></li>
          </ul> -->
        </li>

        <li class="menu-title">
          <span>Pages</span>
        </li>
        <li>
          <a><i class="fe fe-user-plus"></i> <span>Profile</span></a>
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- /Sidebar -->
