<div class="left-side-menu">

    <div class="h-100" id="left-side-menu-container" data-simplebar>

        <!-- LOGO -->
        <a  class="logo text-center">
            <span class="logo-lg">
                <img src="assets/images/logo.png" alt="" height="16" id="side-main-logo">
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo_sm.png" alt="" height="16" id="side-sm-main-logo">
            </span>
        </a>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a [routerLink]="['/home/work_area/dashboard']" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboard </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a [routerLink]="['/home/work_area/transfer']" class="side-nav-link">
                    <i class="uil-store"></i>
                    <span> Transfer </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a [routerLink]="['/home/work_area/bank']" class="side-nav-link">
                    <i class="uil-store"></i>
                    <span> Bank </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a  class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span class="badge badge-success float-right">4</span>
                    <span> Dashboards </span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="dashboard-analytics.html">Analytics</a>
                    </li>
                    <li>
                        <a href="dashboard-crm.html">CRM</a>
                    </li>
                    <li>
                        <a href="https://coderthemes.com/creative/">Ecommerce</a>
                    </li>
                    <li>
                        <a href="dashboard-projects.html">Projects</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a  class="side-nav-link">
                    <i class="uil-folder-plus"></i>
                    <span> Multi Level </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li class="side-nav-item">
                        <a  aria-expanded="false">Second Level
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a >Item 1</a>
                            </li>
                            <li>
                                <a >Item 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="side-nav-item">
                        <a  aria-expanded="false">Third Level
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a >Item 1</a>
                            </li>
                            <li class="side-nav-item">
                                <a  aria-expanded="false">Item 2
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="side-nav-forth-level" aria-expanded="false">
                                    <li>
                                        <a >Item 2.1</a>
                                    </li>
                                    <li>
                                        <a >Item 2.2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>

        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
